:root{
    --white: hsl(0, 0%, 100%);
    --cream: hsl(30, 38%, 92%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --green: hsl(158, 36%, 37%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-green: hsl(156, 25%, 20%);

    --font-f: 'Fraunces', sans-serif;
    --font-m: 'Montserrat', sans-serif;
}

.gray{ font-family: var(--font-m);color: var(--dark-grayish-blue); }

*, *::before, *::after { box-sizing: border-box; }

*{ margin: 0; }

html, body{ height: 100%; font-size: 14px; }

body{
    display: flex;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cream);
}

main{
    background-color: var(--white);
    border-radius: 0.7rem;
}

/*Text content*/
#white-container{
    margin: auto; 
    padding: 2rem;
}

h1{
    font-family: var(--font-f);
    font-size: 2.313rem;
}

.perfume-title{
    color: var(--very-dark-blue);
    line-height: 2.25rem;
    padding: 1.5rem 0;
}

.perfume{
    text-transform: uppercase;
    letter-spacing: 0.313rem;
    font-size: small;
}

.description{ line-height: 1.75rem; }

/*The prices*/
.prices{ display: flex; align-items: center; }

.new-price,
.old-price{ display: inline; }

.new-price{ padding: 1.7rem 0; }

.old-price{
    text-decoration: line-through;
    padding-left: 1.25rem;
    font-size: small;
}

/*The button*/
button img{ padding-right: 0.625rem; }

button{
    margin: auto;
    width: 100%;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--green);
    font-family: var(--font-m);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

button:active{ background-color: var(--dark-green); }

/*     Media queries    */

@media screen and (max-width: 900px) {
    
    body{ display: flex; align-items: center; }

    /*To fix text distortion*/
    main{ margin: auto;
        min-width: 350px; 
        max-width: 30ch;
    }

    .mobile-img{
        width: 100%;
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
    }

    #white-container{ padding: 1.688rem; }

    .desktop-img{ display: none; }

    .description{ max-width: 31.5ch; }
}

@media screen and (min-width: 901px) {

    main{
        max-width: 500px;
        min-width: 590px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
    }

    #img-container{ grid-area: left; }

    .mobile-img{ display: none; }

    .desktop-img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
    }

    #white-container{ grid-area: right; }

}